*{
    box-sizing: border-box;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    background-color: rgb(27, 27,27);
}

h1{ font-size: 60px;}
h2{ font-size: 48px;}
h3{ font-size: 36px;}
h4{ font-size: 32px;}
h5{ font-size: 24px;}
p{ font-size: 18px;}

button{
    font-size: 20px;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    border: 0 solid rgb(0, 0, 0);
    box-shadow: 2px 2px 10px rgb(0, 0, 0);
    color: white;
    background-color: black;
}
button:hover{
    background-color: rgb(91,91, 91);
}

.container{
    max-width: 1400px;
    margin: auto
}

header{
    background-color: rgb(27, 27,27);

}

header .logo{
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    color: white;
    font-size: 1,60em;
}

header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}

header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: white;
}

header b{
    color: rgb(176, 172, 172);
}

#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 50vh;
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
 }

 #quienes-somos{

 }

 #quienes-somos .container{
    text-align: center;
    padding: 200px 12px;
    color: white;
 }

#productos-estrella{
    background-color: rgb(91, 91, 91);
    color: white;
    text-align: center;
}

#productos-estrella .container{
    padding: 100px 12px;
}

#productos-estrella h2{
    margin-top: 0;
}

#productos-estrella p{
    display: none;
}

#productos-estrella .carta{

}

.carta:first-child{

}

.carta:nth-child(2){

}
